.cart-wrapper {
    margin-top: 100px;
}

.CartCard-Wrapper {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 130px;
    padding-left: 130px;
}

.CartCard {
    width: 100%;
    padding: 30px 5%;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(226,226,226,0.25), 0 1px 2px rgba(226,226,226,0.5);
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    border: none;
    min-height: 200px;
}

.Cartrow {
    align-items: center;
    display: flex;
    height: 100%;
}

.cartimage-container {
    width: 33%;
    margin-bottom: 10px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    height: 160px;
}

.carttext-wrapper {
    width: 33%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    height: 130px;
}

.cartquantity-wrapper {
    width: 33%;
    display: flex;
    justify-content: center;
}

.payment-wrapper {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 400px;
    padding-left: 400px;
}

.payment-container {
    width: 100%;
    padding: 30px 5%;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(226,226,226,0.25), 0 1px 2px rgba(226,226,226,0.5);
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    border: none;
    min-height: 200px;
}

.payment-detail {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 10px;
    background-color: #f3f3f3;
    display: block;
    color: #3f414d;
}

.payment-tbl-data {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
}

.table-row {
    display: table;
    width: 100%;
}

.name {
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3f414d;
}

.value {
    text-align: right;
    width: 30%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    color: #3f414d;
}

.medium {
    font-weight: 600;
}

.info-icon {
    cursor: pointer;
    display: inline-block;
    position: relative;
    bottom: 2px;
    padding-right: 5px;
}